.popup-box{
    background-color: #fff;
    border: 3px solid #8f8f8f;
    border-radius: 8px;
    box-shadow: 0 4px 24px rgba(0,0,0,0.18);
    padding: 10px;
    z-index: 1000;
    box-sizing: border-box;
}

.popup-header{
    font-weight: bold;
    margin-bottom: 10px;

    text-align: center;
    
    
    

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popup-title{
    
    box-shadow: 0 4px 24px rgba(0,0,0,0.18);
    border-bottom: 2px solid #888888;
    width: 100%;
    padding: 5px;
}

.popup-content{
    margin-bottom: 10px;
}

.popup-content-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%; /* Ensure the wrapper fills the popup height */
    overflow: hidden; /* Prevent content from overflowing the wrapper */
}
.popup-content-wrapper_simple{
    display:block;
}
.popup-content {
    padding: 10px 10px;
    overflow-y: auto;
    border-top: 1px solid #888888;
}
.popup-menu {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-right: 1px solid #888888;
    border-top: 1px solid #888888;
    min-width: 25%;
    max-width: 90%;
    max-height: 90%; /* Ensure the menu does not exceed the popup height */
    overflow-y: auto; /* Enable scrolling for overflowing items */
    overflow-x: hidden; /* Prevent horizontal overflow */
    flex-shrink: 0; /* Prevent the menu from shrinking */
    flex-grow: 0; /* Prevent the menu from growing */
    box-sizing: border-box; /* Include padding and border in size calculations */
}

.popup-menu-item {
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.2s;
    background-color: #dedede;
    flex-shrink: 0; /* Prevent items from shrinking */
    width: 81%; /* Ensure items take full width of the menu */
}.popup-menu-item:hover {
    background-color: #bbbbbb;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 0.05s ease-in-out;
}

.popup-menu-item-delete {
    padding: 4px;
    margin-bottom: 5px;
    border-radius: 4px;
    text-align: center;
    align-items: center;
    cursor: pointer;
    transition: background 0.2s;

    border-radius: 5px;

    margin-left: auto; /* Push delete button to the right */
    
}.popup-menu-item-delete:hover {
    background-color: #be3434;
    box-shadow: 0 4px 4px rgba(0,0,0,0.20);
    border-radius: 10px;
    transition: all 0.05s ease-in-out;
}

.popup-close{
    border: none;
    background: #c72d2d;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    cursor: pointer;
    transition: background 0.2s;

    border-radius: 5px;

    margin-left: 10px;
}
.popup-close:hover {
    background: #a00;
    box-shadow: 0 4px 4px rgba(0,0,0,0.20);
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
}
.popup-close:active {
    background: #ff0000;
    box-shadow: 0 2px 2px rgba(0,0,0,0.30) inset;
}

.fullscreen{
    width: 70%;
    height: 80%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup-overlay {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.4);
    z-index: 999;
}

.icon{
    display: inline-block;
    width: 2em;
    height: 2em;
    transition: background 0.2s;
    margin-right: 5px;


    border: none;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 2em;
    text-align: center;
    border-radius: 5px;
}
.small-icon {
    width: 1em;
    height: 1em;
}

.icon-circle-notif {
    -webkit-mask: url('../media/circlenotif.svg') no-repeat center / contain;
    mask: url('../media/circlenotif.svg') no-repeat center / contain;
    background-color: #1a86c5;
}
.icon-triangle-caution {
    -webkit-mask: url('../media/trianglecaution.svg') no-repeat center / contain;
    mask: url('../media/trianglecaution.svg') no-repeat center / contain;
    background-color: #cc6d14;
}
.icon-stop-caution {
    -webkit-mask: url('../media/stopcaution.svg') no-repeat center / contain;
    mask: url('../media/stopcaution.svg') no-repeat center / contain;
    background-color: #c91919;
}