@import url('objects.css');

html, body {
    overflow: hidden !important;
    height: 100%;
}
/* Allow ECharts tooltip box to overflow */
.echarts-tooltip {
    overflow:hidden;
}

* {
    margin: 0;
    padding: 0;
}



body {
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
    "minibanner banner"
    "sidebar main";
}

.minibanner {
    background-color: rgb(233, 233, 233);
    grid-area: minibanner;
}.banner {
    background-color: aliceblue;
    grid-area: banner;
}.sidebar {
    background-color: rgb(59, 59, 59);
    grid-area: sidebar;
}.main {
    background-color: rgb(134, 134, 134);
    grid-area: main;

}

.mapModeButton,.viewModeButton{
    user-select: none;
}

.sidebar p{
    background-color:#6b6b6b ;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
    color: #ffffff;
}

.mapPage {
    height: 100%;
    gap: 10px;
    padding: 10px;

    box-sizing: border-box;
    display: grid;

    grid-template-columns: 1.7fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: auto 0fr 0fr 0fr .01fr; 
    grid-template-areas: 
    "card3     card4 card4 card4 card4 card4 card4"
    "card3     card4 card4 card4 card4 card4 card4"
    "card3     card4 card4 card4 card4 card4 card4"

    "card1 card1     card2 card2 card2 card2 card2"
    "card1 card1     card2 card2 card2 card2 card2";

}

.viewPage {
    height: 100%;
    gap: 15px;
    padding: 15px;

    box-sizing: border-box;
    display: none;

    grid-template-columns: 1.7fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: auto 0fr 0fr 0fr .65fr; 
    grid-template-areas: 
    "card1 card1     card2 card2 card2 card2 card2"
    "card1 card1     card2 card2 card2 card2 card2"

    "card3     card4 card4 card4 card4 card4 card4"
    "card3     card4 card4 card4 card4 card4 card4"
    "card3     card4 card4 card4 card4 card4 card4";
}


.card {
    background-color: rgba(255, 255, 255, 0.473);
    display: flex;
    flex-direction: column;
     /* Prevent cards from pushing upward in grid */
    /*
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(1, 1, 1, 0.5);
    */

    
}
.card p{
    background-color: inherit;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
}
.card:nth-child(1) {
    grid-area: card1;
    /* border: 3px solid #0000002c; */
}.card:nth-child(2) {
    grid-area: card2;
}.card:nth-child(3) {
    grid-area: card3;
    min-width: 250px; /*Min width for small column box (this perfectly works)*/
}.card:nth-child(4) {
    grid-area: card4;
}





.banner .wrapper{
    background-color: inherit;
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 5px;
}.bannerButton{
    background-color: var(--buttonColorStatic);
    border-color: #000000;

    width: auto;
    min-width: 40px;
    height: 40px;
    
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 10px;
    cursor:pointer;
    border: 3px solid #0000002c;
    user-select: none;

    
    border: 1px solid #00000031;
}.bannerButton:hover {
    background-color: var(--buttonColor);
    box-shadow: #0000002a 0px 4px 4px;
    border-radius: 10px;
    transition: var(--buttonAnimHover);
}.bannerButton:active {
    background-color: var(--buttonColorActive);
    box-shadow: #ffffff2a 0px 4px 4px inset;
    border-radius: 50px;
    transition: var(--buttonAnimActive);
}
.AddFileButton{
    display: none;
}

#bannerButton4 {
    margin-left: auto;
}
#bannerButton5 {
    margin-right: 15px;
}


/* USE THIS FOR ITEMS IN DROPDOWN
.sidebar .wrapper details{
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}
*/
.sidebar .wrapper h2{
    user-select: none;
}




.card:nth-child(1) {
    grid-area: card1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.905);
}
.card:nth-child(2) {
    grid-area: card2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.905);
}
.card:nth-child(3) {
    grid-area: card3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.905);
}
.card:nth-child(4) {/*Double check this later to make sure map goes in correct card*/
    grid-area: card4;
    background-color: rgba(255, 255, 255, 0.905);
    width: auto;
}
.cardWrapper{
    background-color: rgba(255, 255, 255, 0.905);
    height: 100%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;

    align-self: start;

    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll; /* Add vertical scrollbar */

    /*
    display: grid;
    grid-template-columns: auto auto auto;
    */

}
#datasetInfoCardWrapper ul {
    list-style-type: disc;
    margin-left: 20px;
}

#datasetInfoCardWrapper li {
    margin: 5px 0;
    margin-left: 10px;
    color: #000000;
}

#datasetInfoCardWrapper ul ul {
    list-style-type: circle;
    margin-left: 15px;
    margin-bottom: 20px;
}
#dataFileHeader {
    margin-top: 2px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
    color: #000000;
    
    padding: 10px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom: #2437442a 5px solid;

    /* Use this as default
    position: absolute; 
    */

}
.datasetVarsCardWrapper ul {
    list-style-type: square;
    margin-left: 20px;
}
.datasetAttrCardWrapper ul {
    list-style-type: square;
    margin-left: 20px;
}
.datasetInfoCardWrapper {
    display: none;
}
.datasetAttrCardWrapper {
    display: none;
}

.hide {
    display: none;
}



.dis {
        background-color: #e7e7e7;
    border: 1px solid #00000031;
    color: rgba(0, 0, 0, 0.171);
    cursor:not-allowed;
}
.nonSel {
    user-select: none;
}


.dataTabs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: #0000002a 2px solid;
    /* Prevent tabs from pushing upward in grid */
    box-sizing: border-box;
    overflow-x: auto;
    align-items: stretch;
    user-select: none;
}
.dataTab {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 2px;
    cursor:pointer;
    box-sizing: border-box;
    min-width: 0;
    width: 100%;
}
.tabActive {
    background-color: var(--buttonColorHover);
    /*#7ab0e9;*/
    color: white;
}
.dataTab:not(.tabActive):hover {
    background-color: #e0e0e0;
}


.titleTargetFileWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px;
    user-select: none;
}
.arrow{
    cursor: pointer;
    background-color: var(--buttonColor);
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: solid;
    color: white;
    transition: var(--buttonAnim);
}.arrow:hover {
    background-color: var(--buttonColorHover);
    box-shadow: #0000002a 0px 4px 4px;
    border-radius: 10px;
    transition: var(--buttonAnimHover);
}.arrow:active {
    background-color: var(--buttonColorActive);
    box-shadow: #ffffff2a 0px 4px 4px inset;
    border-radius: 50px;
    transition: var(--buttonAnimActive);
}

.backArrow, .forwardArrow {
    width: 20px;
    height: 20px;
    padding: 4px 6px;
    border-radius: 5px;
}
.backArrow {
    margin-right: 10px;
}
.forwardArrow {
    margin-left: 10px;
}

.titleTargetFile{
    font-weight: bold;
    color: #000000;
    font-size: 1vw;
    text-align: center;
}


/* Timeline chart centering */
.timeline {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.timelineWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.TimelineRangeLabel {
    padding: 5px 10px;
    border-radius: 5px;
    color: #000000;
    white-space: nowrap;
    width: 15%;
    position: absolute;
    font-size: 16px;
    
}   
#maxTimelineRangeLabel{
    width: 100%;
    }
#minTimelineRangeLabel{
        width: 100%;
    }

#map, .leaflet-container {
    background: #aad3df !important; /* Replace with your desired color */
}


.timelineWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: relative;
    margin-top: 40px;
}

.timelineRangeWrapper {
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}
.SelectedTimelineRangeWrapper{
        justify-content: space-between;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

.rangeTable {
    display: table;
    width: 90%;
    border-collapse: collapse;
    border: 1.5px solid #333;
    font-size: 12px;
}

.rangeTable th, .rangeTable td {
    border: 1px solid #333;
    padding: 6px 10px;
    font-size: 12px;
    text-align: center;
    width: auto;
} .rangeTable input{
    width: 100%;
    min-width: 0;
    padding: 5px;
    font-size: 12px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;

}

.filterButton {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: var(--buttonColor);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    width: 20%;
    margin-bottom: 40px;
}.filterButton:hover {
    background-color: var(--buttonColorHover);
    box-shadow: #0000002a 0px 4px 4px;
    border-radius: 20px;
    transition: all 0.1s ease-in-out;
}

.timelineOptionWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
} .timelineOptionWrapper h4 {
    margin-right: 10px;
} .timelineOptionWrapper input {
    margin-top: 2px;
    margin-right: 10px;
}


.markerFocusButton{
    margin: 3px;
    background-color: var(--buttonColor);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    transition: var(--buttonAnim);
    user-select: none;
}.markerFocusButton:hover {
    background-color: var(--buttonColorHover);
    box-shadow: #0000002a 0px 4px 4px;
    border-radius: 20px;
    transition: var(--buttonAnimHover);
    width: 25%;
}
.markerFocusButton:active {
    background-color: var(--buttonColorActive);
    box-shadow: #ffffff2a 0px 4px 4px inset;
    border-radius: 50px;
    transition: var(--buttonAnimActive);
    width: 20%;
}
.markerFocusIcon{
    height: 30px;
    width: auto;
    padding: 5px;
}


.svgIcon{
    margin-top: 2px;
}
.filterIcon{
    height: 20px;
    width: auto;
    padding: 5px;
}
.filterIconWrapper{
    background-color: var(--buttonColorStatic);
    width: 40px;
    height: 40px;
    transition: var(--buttonAnim);
}.filterIconWrapper:hover{
    background-color: var(--buttonColor);
    cursor: pointer;
    box-shadow: #0000002a 0px 4px 4px;
    border-radius: 10px;
    transition: var(--buttonAnimHover);
}
.filterIconWrapper:active{
    background-color: var(--buttonColorActive);
    cursor: pointer;
    box-shadow: #ffffff2a 0px 4px 4px inset;
    border-radius: 50px;
    transition: var(--buttonAnimActive);
}


.notificationIndicatorWrapper img{
    position: relative;
    top: -30px;
    right: -15px;
    width: 15px;
    height: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}