* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
    "minibanner banner"
    "sidebar main";
}

.minibanner {
    background-color: rgb(233, 233, 233);
    grid-area: minibanner;
}.banner {
    background-color: aliceblue;
    grid-area: banner;
}.sidebar {
    background-color: rgb(59, 59, 59);
    grid-area: sidebar;
}.main {
    background-color: rgb(134, 134, 134);
    grid-area: main;

}

.sidebar p{
    background-color:#6b6b6b ;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
    color: #ffffff;
}

.mapPage {
    height: 100%;
    gap: 15px;
    padding: 15px;

    box-sizing: border-box;
    display: grid;

    grid-template-columns: 1.2fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 0.1fr; 
    grid-template-areas: 
    "card1 card1     card2 card2 card2 card2 card2"
    "card1 card1     card2 card2 card2 card2 card2"

    "card3     card4 card4 card4 card4 card4 card4"
    "card3     card4 card4 card4 card4 card4 card4"
    "card3     card4 card4 card4 card4 card4 card4";
}

.viewPage {
    height: 100%;
    gap: 15px;
    padding: 15px;

    box-sizing: border-box;
    display: none;

    grid-template-columns: 1.2fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 0.1fr; 
    grid-template-areas: 
    "card1 card1     card2 card2 card2 card2 card2"
    "card1 card1     card2 card2 card2 card2 card2"

    "card3     card4 card4 card4 card4 card4 card4"
    "card3     card4 card4 card4 card4 card4 card4"
    "card3     card4 card4 card4 card4 card4 card4";
}


.card {
    background-color: rgba(255, 255, 255, 0.473);
    /*
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(1, 1, 1, 0.5);
    */
}
.card p{
    background-color: inherit;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
}
.card:nth-child(1) {
    grid-area: card1;
    /* border: 3px solid #0000002c; */
}.card:nth-child(2) {
    grid-area: card2;
}.card:nth-child(3) {
    grid-area: card3;
    min-width: 250px; /*Min width for small column box (this perfectly works)*/
}.card:nth-child(4) {
    grid-area: card4;
}


.minibanner .wrapper {
    background-color: inherit;
    display: flex;
    justify-content: center;
    height: 100%;

    align-items: center;
}.mapModeButton, .viewModeButton{
    border: 1px solid #000000;
    padding: 10px 20px;
    border-radius: 5px;
    cursor:pointer;
    text-align: center;
    width: 30%;
}.mapModeButton{
    background-color: #007bff;
    color: white;
    margin-right: 10px;
}.viewModeButton{
    background-color: #e7e7e7;
    color: rgb(0, 0, 0);
}


.banner .wrapper{
    background-color: inherit;
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 5px;
}.bannerButton{
    background-color: rgb(167, 167, 167);
    border-color: #000000;

    width: auto;
    min-width: 40px;
    height: 40px;
    
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 10px;
    cursor:pointer;
    border: 3px solid #0000002c;
}
.AddFileButton{
    display: none;
}

#bannerButton4 {
    margin-left: auto;
    margin-right: 15px;
    background-color: rgb(175, 175, 175);
}


/* USE THIS FOR ITEMS IN DROPDOWN
.sidebar .wrapper details{
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}
*/

.sidebar .wrapper {
    background-color: inherit;
    display: flex;
    flex-direction: column;
    padding: 15px;
}.sidebar .wrapper h2{
    color: white;
    text-align: center;
    margin-bottom: 15px;
}.sidebar .wrapper summary{
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    background-color: inherit;
    user-select: none;
}#GliderDropDown, #ViewsDropDown{
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;

    border-bottom: #ffffff67 2px solid;

    background-color: inherit;
}


.card:nth-child(1) {
    grid-area: card1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardWrapper{
    background-color: rgb(255, 255, 255);
    height: 97%;
    width: 98%;

    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll; /* Add vertical scrollbar */

    /*
    display: grid;
    grid-template-columns: auto auto auto;
    */

}


